name: Check

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  check:
    runs-on: ubuntu-latest
    name: test with ${{ matrix.py }}
    strategy:
      fail-fast: false
      matrix:
        py:
          - "3.14"
          - "3.13"
          - "3.12"
          - "3.11"
          - "3.10"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.py }}
      - name: Sync deps
        run: uv sync --extra dev
      - name: Run test suite
        run: uv run pytest --import-mode importlib

  e2e-tests:
    runs-on: ubuntu-latest
    name: run pre-commit try-repo on all files
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: "3.14"
      - name: Install pre-commit
        run: python -m pip install pre-commit
      - name: Run pre-commit to show excluded files
        run: SKIP=check-jira-reference-in-todo,check-ownership,go-revive,go-fmt,go-imports pre-commit try-repo . --all-files --verbose
