name: Check

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  check:
    runs-on: ubuntu-latest
    name: test with ${{ matrix.py }}
    strategy:
      fail-fast: false
      matrix:
        py:
          - "3.14"
          - "3.13"
          - "3.12"
          - "3.11"
          - "3.10"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7
        with:
          python-version: ${{ matrix.py }}
      - name: Sync deps
        run: uv sync --extra dev
      - name: Run test suite
        run: uv run pytest --import-mode importlib

  e2e-tests:
    runs-on: ubuntu-latest
    name: run pre-commit and prek try-repo on all files
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7
        with:
          python-version: "3.14"
      - name: Run pre-commit try repo
        run: SKIP=check-max-one-sentence-per-line,check-jira-reference-in-todo,check-ownership,go-revive,go-fmt,go-imports uvx pre-commit try-repo . --all-files --verbose
      - name: Run prek try repo
        run: SKIP=check-max-one-sentence-per-line,check-jira-reference-in-todo,check-ownership,go-revive,go-fmt,go-imports uvx pre-commit try-repo . --all-files --verbose
