name: Create Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+' # Matches 1.2.3

permissions:
  contents: write

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Update version in pyproject.toml
        run: |
          export VERSION=${{ github.ref_name }}
          echo "Using version: $VERSION"
          grep "version = \"$VERSION\"" pyproject.toml || (echo "Version mismatch in pyproject.toml vs the tag name" && exit 1)
      - uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          draft: false
          prerelease: false
          generate_release_notes: true
