name: Create Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+' # Matches 1.2.3

permissions:
  contents: write

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Update version in pyproject.toml
        run: |
          export VERSION=${{ github.ref_name }}
          echo "Using version: $VERSION"
          grep "version = \"$VERSION\"" pyproject.toml || (echo "Version mismatch in pyproject.toml vs the tag name" && exit 1)
      - uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2.4.1
        with:
          draft: false
          prerelease: false
          generate_release_notes: true
